<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2 align="center">Account Balance Chart (Full History)</h2>
    <br/>
    <br/>
    <%= line_chart @result, width: "100%", height: "400px", xtitle: "Date", ytitle: "Account Value", curve: false %>
  </div>
</div>