<div class="container-fluid" style="text-align:center">
  <img src="Axtrionlogo.png" alt="" style="width:60%; margin-top:5%">
  <strong><h2 style="margin:2%; font-family: 'Josefin Slab', serif;">The Next Generation of Investing & Wealth Preservation</h2></strong>
  <p style="font-size:20px; font-family: 'Josefin Slab', serif; text-indent:5%;">Axtrion Capital is a hedge fund which uses proprietary research to systematically managed portfolios.

Our pioneering trading system is based on scientifically established principles of market behaviour and rigorous logic, where allocation follows opportunity and risk management is inherent.

Our three portfolios use sophisticated forecasting and robust risk management techniques to trade global liquid markets in varying magnitudes of complexity and volatility, from the beta tracking PureTrend to the alpha seeking Global Futures Portfolio.

Our systematised approach to investment is designed to be scalable, secure, consistent and reactive to changing market conditions, while being driven by research and technological development.

Our experienced and professional team is built on passion, exceptional talent, a strong commitment to scientific inquiry and client service.</p>
</div>
